<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>添加软件产品</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signUpForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">产品编号：</label>
                            <div class="col-sm-8">
                                <input id="number" name="number" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">名称：</label>
                            <div class="col-sm-8">
                                <input id="softwareName" name="softwareName" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">项目组长：</label>
                            <div class="col-sm-8">
                                <input id="leader" name="leader" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开发负责人：</label>
                            <div class="col-sm-8">
                                <input id="developManager" name="developManager" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">测试负责人：</label>
                            <div class="col-sm-8">
                                <input id="testManager" name="testManager" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">保密等级：</label>
                            <div class="col-sm-8">
                                <select id="securityLevel" name="securityLevel" class="form-control">
                                    <option>一级</option>
                                    <option>二级</option>
                                    <option>三级</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述：</label>
                            <div class="col-sm-8">
                                <textarea id="description" name="description" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/softwareProduct/add.js">
</script>
</body>
</html>