<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>生成评估报告</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div id="report">
            <div class="col-sm-3">
                软件产品编号:<input type="text" th:value="${softwareProduct.number}" disabled="false">
            </div>
            <div class="col-sm-3">
                软件产品名称:<input type="text" th:value="${softwareProduct.softwareName}" disabled="false">
            </div>
            <div class="col-sm-3">
                软件可信度:<input type="text" th:value="${softwareKeXinDu}" disabled="false">
            </div>
            <div class="col-sm-3">
                可信等级:<input type="text" th:value="${keXinLevel}" disabled="false">
            </div>
            <div>
                <table class="table table-bordered">
                    <caption>需求阶段</caption>
                    <tbody>
                    <tr th:each="measurementData : ${measurementDataListInRequirePhase}">
                        <td th:text="${measurementData.name}"></td>
                        <td th:text="${measurementData.keXinDu}"></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <p>设计阶段</p>
                    <table class="table table-bordered">
                        <tbody>
                        <tr th:each="measurementData : ${measurementDataListInDesignPhase}">
                            <td th:text="${measurementData.name}"></td>
                            <td th:text="${measurementData.keXinDu}">
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <p>编码阶段</p>
                    <table class="table table-bordered">
                        <tbody>
                        <tr th:each="measurementData : ${measurementDataListInCodingPhase}">
                            <td th:text="${measurementData.name}"></td>
                            <td th:text="${measurementData.keXinDu}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <p>测试阶段</p>
                    <table class="table table-bordered">
                        <tbody>
                        <tr th:each="measurementData : ${measurementDataListInTestPhase}">
                            <td th:text="${measurementData.name}"></td>
                            <td th:text="${measurementData.keXinDu}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <p style="color: red">以下内容需要改进:</p>
                <table class="table table-bordered">
                    <tbody>
                    <tr th:each="softData : ${softDataList}">
                        <td th:text="${softData.phase}"></td>
                        <td th:text="${softData.attribute}"></td>
                        <td th:text="${softData.subAttribute}"></td>
                        <td th:text="${softData.metricElement}"></td>
                        <td th:text="${softData.target}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-8 col-sm-offset-3">
        <!--<input type="button" class="btn btn-success" id="output" th:value="导出至本地"/>-->
        <input type="button" class="btn btn-success" id="print" th:value="导出至本地"/>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    $("#print").click(function () {
        var printHtml = document.getElementById("report").innerHTML;
        var newWindow = window.open("", 'newWindow', 'fullscreen=yes,toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no');
        newWindow.document.body.innerHTML = printHtml;
        newWindow.print();
    })
</script>
</body>
</html>