<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include :: header">
    <meta charset="UTF-8">
    <title>输入属性正互反矩阵</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <p>属性正互反矩阵</p>
    <form class="form-horizontal m-t">
        <div th:each="map : ${resMap}">
            <table class="table table-bordered" id="designAttributeTable">
                <caption th:text="${map.key}"></caption>
                <thead>
                <tr>
                    <th>属性</th>
                    <th th:each="attribute : ${map.value}" th:text="${attribute}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="attribute : ${map.value}">
                    <td th:text="${attribute}"></td>
                    <td th:each="attribute : ${map.value}"><input type="text" name="attributeMatrixArrayInDesignPhase[]" id="attributeMatrixArrayInDesignPhase"
                                                                     value="1" disabled="true"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-3">
                <button type="button" class="btn btn-primary" onclick="change()">
                    <i class="fa fa-edit" aria-hidden="true"></i>修改
                </button>
                <input type="button" class="btn btn-success" id="saveData" th:value="保存数据"/>
                <input type="button" class="btn btn-success" id="nextStep" th:value="下一步"/>
                <button type="reset" class="btn btn-warning">重置数据</button>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/softData/designPhase/inputAttributeMatrix.js"></script>
</body>
</html>