<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:include="include :: header">
    <title>需求阶段可信证据表</title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <a href="/Data/requirePhase.xlsx" class="form-control" style="border:none;">下载模板</a>
    <input type="file" id="requirePhaseFile" name="requirePhaseFile" class="file" data-show-preview="false">
    <input type="button" class="btn btn-primary" id="uploadFile" th:value="上传"/>

    <div class="ibox">
        <div class="ibox-body">
            <div class="fixed-table-toolbar">
                <div id="exampleToolbar" class="columns pull-left">
                    <button type="button" class="btn btn-primary" onclick="add()">
                        <i class="fa fa-plus" aria-hidden="true"></i>添加
                    </button>
                    <button type="button" class="btn btn-danger" onclick="batchRemove()">
                        <i class="fa fa-trash" aria-hidden="true"></i>批量删除
                    </button>
                </div>
                <!--<div class="columns pull-right">
                    <button class="btn btn-success" onclick="reLoad()">查询</button>
                </div>
                <div class="columns pull-right col-md-2 nopadding">
                    <select data-placeholder="选择属性" class="form-control chosen-select" tabindex="2" style="...">
                        <option value="">选择属性</option>
                    </select>
                </div>-->
            </div>
            <table id="exampleTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
</div>


<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/softData/requirePhase/softData.js"></script>
</body>
</html>